@import "tailwindcss";

@theme {
  /* Colors - Text */
  --color-brand-on-brand: #f5f5f5;
  --color-default: #1e1e1e;
  --color-subtle: #666666;
  --color-disabled: #a3a3a3;

  /* Colors - Background */
  --color-bg-brand: #2c2c2c;
  --color-bg-brand-hover: #1e1e1e;
  --color-bg-neutral: #e3e3e3;
  --color-bg-neutral-hover: #cdcdcd;
  --color-bg-subtle-hover: #f5f5f5;
  --color-bg-disabled: #e5e5e5;

  /* Colors - Border */
  --color-border-primary: #2c2c2c;
  --color-border-neutral: #767676;
  --color-border-subtle: #d9d9d9;
  --color-border-disabled: #b3b3b3;

  /* Typography */
  --font-body: "Inter", sans-serif;

  /* Border Radius */
  --radius-md: 8px;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 12px;
}
